
.image-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px; 
    background-color: #333; 
}
  .image-wrapper {
    position: relative;
    width: 100%; 
    
  }
  .image {
    
    width: 100%;
    height: auto;
    display: block;
    animation: fadeIn 1s ease-in forwards;
  }
  .corner-button {
    position: absolute;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
  } 
  .bottom-left {
    bottom: 220px;
    left: 10px;
  }
  
  .bottom-right {
    bottom: 220px;
    right: 10px;
  }
  .corner-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
.tours {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding: 50px 20px; 
  background-color: #f5f5f5; 
}


.group {
  flex: 1; 
  background-image: url('https://vl-prod-static.b-cdn.net/system/images/000/787/610/7811edd1d69dcf6bc9be6ce77d9ea79f/x1000gt/8-IMG_8006.jpg?1725467383'); /* Background image for group tours */
  background-size: cover; 
  background-position: center; 
  padding: 30px;
  color: white; 
  border-radius: 10px; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  height: 300px;
  margin: 5px;
}

.group h3 {
  font-size: 2rem; 
  margin-bottom: 20px; 
}

.group p {
  font-size: 1.25rem; 
}


.private {
  flex: 1; 
  background-image: url('https://escape2explore.s3.ap-south-1.amazonaws.com/UpdatedMedia/1260587e-3dd1-4532-86f1-095398fd644e.webp'); /* Background image for private tours */
  background-size: cover; 
  background-position: center; 
  padding: 30px;
  color: white; 
  border-radius: 10px;
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 300px;
  margin: 5px;
}

.private h3 {
  font-size: 2rem; 
  margin-bottom: 20px; 
}

.private p {
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .tours {
    flex-direction: column; 
    padding: 20px; 
  }

  .group, .private {
    margin-bottom: 20px; 
  }
}
.quotes-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
  padding: 40px;
  justify-items: center;
}

.quote-card {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  max-width: 350px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.quote-card h4 {
  font-size: 1.25rem; 
  color: #333; 
  font-style: italic; 
  line-height: 1.5; 
  margin: 0; 
}


.quote-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
  .quotes-container {
    grid-template-columns: 1fr; 
  }
}
