
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    height: 70px;
    width: 70px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.list li {
    margin: 0 15px;
}


.list a {
    text-decoration: none; 
    font-size: 16px;
    transition: color 0.3s ease;
}

h2{
    color: white;
    margin-right: 25vw;
    cursor:context-menu;
    
}

.active-link {
    color: #000;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #D9EAFD;
}
.no-active {
    color: #fff
}

.list a:hover {
    color: #ff6f61; 
}


@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .list {
        flex-direction: column;
        width: 100%;
    }

    .list li {
        margin: 10px 0;
    }

    .list a {
        font-size: 18px;
    }
}
