
.support-container {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4; 
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #03111b;
    margin-bottom: 40px;
  }
  
  .tour-packages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 40px;
  }
  .tour-package {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
  }
 
  .bgc {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bgc h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .bgc p {
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 700;
    color: white;
  }

  .bgc p:hover{
    cursor: pointer;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
  }
  
  .bgc:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  

  @media (max-width: 768px) {
    .tour-packages {
      grid-template-columns: 1fr; 
    }
  }
  